#topper {
    position: absolute;
    width: 98%;
    height: 60vh;
    top: 2vh;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 2vw 2vw 0vw 0vw;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%)
}

#date {
    position: absolute;
    color: white;
    font-weight: 800;
    font-size: 16vh;
    left: 4vw;
}